# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

task 2/.idea/

task 2/cmake-build-debug/

task 3/.idea/

task 3/cmake-build-debug/

.DS_Store

task 3 prog 1/.idea/

task 3 prog 1/cmake-build-debug/_deps/json-build/cmake_install.cmake

task 3 prog 1/cmake-build-debug/
